.content {
  display: flex;
  color: #ffffff;
  padding: 10px;
}

.text-content >h1 {
  font-size: 50px;
}

.text-content >p {
  font-size: 25px;
}

.coach{
  transition-duration: 1s;
  object-fit: contain;
}

.coach:hover {
  cursor: pointer;
  transform: translate(150px);
  transition: all;
}
