<app-navbar></app-navbar>
<section class="landing">
  <div class="content">
      <img src="../../../assets/coach-removebg-preview.png" class="coach" alt="">
    <div class="text-content">
      <h1>Welcome to Mozella</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore facilis repudiandae consequatur ducimus, nesciunt ad a eius perspiciatis ex expedita suscipit possimus autem obcaecati quibusdam facere eaque excepturi aut quam ab atque quod numquam.</p>
    </div>
  </div>
</section>
