<section class="landing">
  <div class="content">
      <img src="../../../assets/coach-removebg-preview.png" class="coach" alt="">
    <div class="text-content">
      <h1>Welcome to Mozella</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore facilis repudiandae consequatur ducimus, nesciunt ad a eius perspiciatis ex expedita suscipit possimus autem obcaecati quibusdam facere eaque excepturi aut quam ab atque quod numquam, aspernatur unde? Nobis corporis quas sit, soluta suscipit dignissimos, quis ea blanditiis exercitationem voluptates dolore eius cum voluptatem atque maiores eligendi odit neque laudantium labore modi. Iusto eveniet ratione molestiae quisquam vel deleniti, minima porro ex! Quasi earum autem maiores quas non sapiente officiis harum velit aut, quam eligendi quibusdam praesentium, omnis eius. Quo, omnis nam earum atque quibusdam dolore animi consequatur expedita beatae deserunt fugit.</p>
    </div>
  </div>
</section>
