<section class="nav">
  <nav>
    <div class="logo">
      Mozella
    </div>
    <ul class="links">
      <li routerLink="/login">
        <div class="text">Login</div>
        <div class="overlay"></div>
      </li>
      <li routerLink="/signup">
        <div class="text">Register</div>
        <div class="overlay"></div>
      </li>
      <li>
        <div class="text">Contact Us</div>
        <div class="overlay"></div>
      </li>
      <li>
        <div class="text">About us</div>
        <div class="overlay"></div>
      </li>
    </ul>
  </nav>
</section>
